* {
    background-color: aquamarine;
    text-shadow: black;
    font-size: x-large;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    }
h1{
    background-color: black;
    color: white;
}
h2 {
   background-color: black;
   background-position: center;
}
p {
    background-color: black;
color: white;
}
a {
    background-color: black;
    color: white 
}
p {
    background-color: rgb(5, 78, 78);
}
